<!-- This page is hidden unless you are the user you need to be to make administrative changes -->
<div ng-show="admin(vm.user.username)">
    
    <!-- filters for category -->
    <label for="repeatSelect"> Filter By Category: </label>  
    
        <select name="repeatSelect" id="repeatSelect" ng-model="vm.filters">
              <option ng-repeat="cat in vm.cats" value="{{cat}}">{{cat}}</option>
        </select>
    
    <!-- filters to search any text on the page-->
     <div class="nav navbar-nav navbar-right">
          <i class="glyphicon glyphicon-search"></i>
          <input placeholder="Search" ng-model="vm.search" type="text">    
     </div>

    <br><br><br>
    
    <!-- this posts new products to /newproduct which will get caught on the server -->
<li > 
            <form  method="post" enctype="multipart/form-data" action="/newproduct">    
               Name:<input type="text" class="form-control" placeholder="name" name="name">
                Price:<input type="number" class="form-control" placeholder="price" name="price">
                Description:<input type="text" class="form-control" placeholder="description" name="description"> 
                Product ImageID: <input type="number" class="form-control"name="productID" placeholder="Dont use an ID currently in use">
                Product Category:<br><select name = "cat">
                <option ng-repeat="cat in vm.cats" value="{{cat}}">{{cat}}</option>
                </select> <br>
                Image: <input type="file" name="userFile" >
                <input type="submit" class="btn btn-primary">
             </form>
     <br><br>
</li>  
    
     <!-- This is a list of all products on the site with the ability to filter through them It also contains the function calls to delete the item on the database and image on the server. -->
     <ul class="products">        
            <li ng-repeat="product in vm.productlist | filter: vm.filters | filter:vm.search">
                <p class=products>
                <img ng-src="/app/uploads/{{product.url}}" alt="coming soon!" height="200px" width="200px"> 
                <h4>{{product.name}}</h4>
                <p>{{product.price | currency}}</p>
                <p> {{product.description}}</p>
               <button ng-show="admin(vm.user.username)" class="btn btn-danger" ng-click="vm.removepic(product);vm.remove(product)">Remove</button>
                </p>
            </li>
               
    </ul>

</div>